@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
   display: flex;
   min-height: 100vh;
   min-width: 100vw;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;



}

.box-top{
    flex:1;
    background-color: rgb(176, 174, 174);
    display: flex;
    font-size: large;
    flex-direction: column;
    width: 100%;
}


.box-form {    
    flex:1;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-items: center;
    width: 100;


}

.box-bottom {
    display: flex;
    flex:1;
    background-color: rgb(230, 225, 225);
    flex-direction: column;
    justify-items: center;
    width: 100%;

}

button {
    background-color: #596D48;
    color: white;
    height: 20%;
    cursor: pointer;
    width: 30%;
}

button:hover {
    background-color: #3097a2;
}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid rgb(54, 33, 177);
}

.box-form form {
    width: 100%; /* <-- THIS IS ALSO CRUCIAL. Ensures the form respects its box's width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* things to do

1. fix the box bottom, its moved to the next column
2. check validations - regex for all fields
3. fix the input fields, it is all over the place


*/