/* @font-face {
    font-family: 'Norse';
    src: url(Norse-Bold.otf);
    font-weight: bold;
} */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    
}

.container {
   display: flex;
   min-height: 100vh;
   min-width: 100vw;
}

.image {
    flex: 1;
    box-sizing: border-box ;
    justify-content: center;
    align-items: center;
    position: relative;
  
}

.image .bird {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    opacity: .3;
}

.contents {
    flex: 2;
    display: flex;
    flex-direction: column;
 
    

  
}

h1 {
    font-size: 2em;
    font-family: 'Cedarville Cursive', cursive;
    margin: 20px;
    color: darkslateblue;
    
}
.box-top{
    flex:1;
    background-color: rgb(230, 225, 225);
    display: flex;
    font-size: xx-large;
    font-family: cedarville cursive;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    color: darkslateblue;
}


.box-form {    
    flex:1;
    display: flex;
    background-color: rgba(251, 249, 249, 0.856);
    flex-direction: column;
    justify-items: left;
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
    color: rgb(118, 103, 103);


}

.box-bottom {
    display: flex;
    flex:1;
    background-color: rgb(230, 225, 225);
    flex-direction: column;
    justify-items: center;
    width: 100%;
    padding: 20px;
    font: normal 1.2em 'Cedarville Cursive';
    color: darkslateblue;
    

}

button {
    background-color: rgba(95, 83, 174, 0.876);
    /* border-color: #596D48; */
    border-style: hidden;
    color: white;
    cursor: pointer;
    width: 35%;
    height: 30%;
  
    font-size: large;

}

button:hover {
    background-color: #3097a2;
}
input {
    width: 100%;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;

}

input:invalid {
  border: 2px solid rgb(223, 154, 129);
}

input:valid {
  border: 2px solid rgb(54, 33, 177);
}

.form-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-evenly;
}

label {
    padding-top: 5px;
    padding-bottom: 5px;
}  

.form-column1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-column2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}



